body {
  background-color: #f7f7f7;
}

header {
  padding: 20px;
  color: #f7f7f7;;
  background-color: #3b5998;
}

section {
  padding: 20px;
  background-color: #dfe3ee;
}

ul,li, a {
  color: #f7f7f7;
  text-decoration: none;
}

ul, li {
  display: inline;
  margin-right: 30px;
}
